<!doctype html>
<html>
<head>
    <title>Update Vehicle</title>
</head>
<body>
    <h1>Update Vehicle</h1>
    <form action="/vehicle/update/{{ vehicle.id }}" method="POST">
        <p>Owner Name: <input name="owner_name" required /></p>
        <p>Make: <input name="make" required /></p>
        <p>Model: <input name="model" required /></p>
        <p>Year: <input name="year" type="number" min="1900" required /></p>
        <button type="submit">Update</button>
    </form>
    <br>
    <a href="/vehicle/list">Back to Vehicle List</a>
</body>
</html>
